*/build
*/tmp
*/node_modules
*/.gitignore
*/.git
*/.vscode
*/.editorconfig
*/Dockerfile
*/.dockerignore

*/*.iml
*/*.md
*/mvnw
*/mvnw.cmd
*/.mvn
*/.idea
*/target
*/init.sql

stack-file.yml
docker-compose.yml
cert
